body{
	background-image: linear-gradient(to right, cyan, lightskyblue);
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

.container{
	background-image: url("../images/theDream.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	margin: 2% 0 5% 7%;
	padding: 1% 0 1% 1%;
	text-align: left;
	color: aliceblue;
	height: 100%;
	width: 85%;
	border-style: solid;
	border-width: 2px;
}

h2#question {
	line-height: 50px;
}

#question-input {
	margin-left: 5%;
}

#done {
	margin-left: 10%;
}
